---
id: dns-verification
title: DNS Verification
sidebar_label: DNS Verification
description: Using domain ownership for identity verification.
---

# DNS Verification

DNS records are used to verify domain ownership, establishing the trust relationship between parties involved in the vulnerability disclosure process.
